---
const data = {
    type: 'i10', //i10, dio
    image: '/public/tank/2023/12/29/c/152.jpg',
    rotate: 0.2,
    horizontalOffset: 2.0,
    verticalOffset: 3.0,
    needle: 72.50, // percentage
    full: -44,
    empty: 45.50,
}
const horizontalOffset = data.horizontalOffset+"px";
const verticalOffset = data.verticalOffset+"px";
const full = data.full + "deg";
const empty = data.empty + "deg";
const range = [data.full, data.empty];
const needlePos = data.needle;
const rotateDeg = data.rotate + "deg";
/* map needle as percentage to range */
const needleDeg = (needlePos * (range[0] - range[1]) / 100) + range[1] + "deg";
---
{needleDeg}

<div class = "app">
    <div class = {"gauge "+data.type} style={"background-image:url("+data.image+")"}>
        <div class="guides">
            <span class="needle"></span>
            <span class="a a4"><span>100.00%</span></span>
            <span class="a a0"><span>0.00%</span></span>
        </div>
    </div>
</div>

<style define:vars={{rotateDeg, needleDeg, horizontalOffset, verticalOffset,full,empty}}>
body {
    margin:0;
    padding:0;
}
.app {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    height:100%;
    width:100%;
    min-height:100vh;
    background: linear-gradient(90deg, #000000 0%, #111111 50%, #111111 50%, #000000 100%);
}
.gauge {
    height:800px;
    width:800px;
    position:relative;
    background-size:cover;
    box-shadow: 0px 0px 20px 10px #000000 inset, 0px 0px 20px 10px #000000 inset;
    /* background-position: 20% -10%; */
}
.gauge .guides {
    display:block;
    height:100%;
    width:100%;
    position:absolute;
    top: var(--verticalOffset);
    left: var(--horizontalOffset);
    transform-origin:center;
    transform: rotate(var(--rotateDeg));
}
.gauge .guides > span {
    position: absolute;
    transform-origin:left;
    top:50%;
    left:50%;
}
.gauge .guides > span > span {
    position:absolute;
    top:100%;
    left:100%;
    transform:translate(10%,-50%);
    font-family:monospace;
}
.a {
    height:8px;
    background: linear-gradient(90deg, #aaaaff10,#aaaaff20 84%,#aaaaffcc 75%,#aaaaffcc 100% );
    width:440px;
    color:#aaaaff;
    font-size:48px;
    border:1px solid #aaaaff;
}
.a4 { transform:translate(0%,-50%) rotate(var(--full)) }
.a0 { transform:translate(0%,-50%) rotate(var(--empty)) }
.needle {
    background:linear-gradient(0deg, #FF000050,#ff000000 30%,#FF000090 50%,#FF000090 50%,#ff000000 70%,#FF000050 100% );
    height:10px;
    width:100%;
    border:2px solid #ff770050;
    position:absolute;
    transform-origin:left;
    top:50%;
    left:50%;
    transform: translate(calc(0% - 3px), calc(-50% + 3px)) rotate(var(--needleDeg));
    z-index: 100;
    mix-blend-mode: lighten;
}
.needle::before{
    --diameter:72px;
    content:"";
    display:block;
    height:var(--diameter);
    width:var(--diameter);
    border-radius: 100%;
    background:radial-gradient(#0000FF90,#0000FF50, #00FFFF00, #00FFFF50, #FF00FF50, #00FFFF50,#FFFFFF90,#FFFFFF90);
    border:2px solid #FF0000;
    position: absolute;
    top:calc(var(--diameter)/-2);
    left:calc(var(--diameter)/-2);
}
</style>