---
import '/src/style/homeOG/normalize.css';
import '/src/style/homeOG/core.css';
import '/src/style/homeOG/style.css';
---
<html>
	<head>
		<title>Modocosm</title>
		<meta charset="utf-8"/>
		<meta name="robots" content="noindex"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="avicon.ico?" type="image/x-icon">
		<link rel="https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/css/lato-font.min.css">
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src = "https://kit.fontawesome.com/10c920175f.js"></script>
	</head>
	<body>
		<section class="nopad navigation">
			<mc-container>
				<mc-inner-container>
				<mc-flex class="flex v-center">
					<mc-logo class="flex v-center"> 
						Modocosm
					</mc-logo>
					<mc-btn class="flex v-center">
						<a href="https://airtable.com/shr7eFiGikGmuNdsu/">Get In Touch</a>
					</mc-btn>
				</mc-flex>
				</mc-inner-container>
			</mc-container>
		</section>
		<section class="nopad navigation-filler"></section>
		<section class="nopad hero">
			<mc-container>
				<mc-hero>
					<img class = "left float" src ="phone 600.png">
					<img class = "center float desktop" src="laptop2 1200.png" />
					<img class = "right float" src="Moto@2x.png">
					<div class = "content">
						<h1>We Build Stellar Brands.</h1>
						<p>Modocosm helps brands and business take off.</p>
					</div>
				</mc-hero>
			</mc-container>
		</section>
		<section class="feature feature-left">
			<mc-container>
				<mc-feature>
					<mc-content class = "relative anim">
						<img class = "relative" src="illustration1-07.png" />
						<img class = "absolute moto" src="illustration1-2-moto@2x.png" />
						<img class = "absolute ill" src="illustration1-3-bg@2x.png" />
					</mc-content>
					<mc-content>
						<h2>Reach new heights.</h2>
						<p>We help brands and businesses solve their greatest marketing problems. Whether you need brand development, digital marketing, a custom  coded website, or content creation - we can help.</p>
					</mc-content>
				</mc-feature>
			</mc-container>
		</section>
		<section class="bg-alt features center">
			<mc-container>
				<mc-features>
					<mc-row col-default="3">
						<mc-col s="12" ms="12" md="4">
							<i class="fa-solid fa-paintbrush-pencil"></i>
							<h2>Branding & Creative</h2>
							<p>Tell your story to the people who mater most. Carefully crafted creative that reflects your deep understanding of your target audience's values in order to build meaningful customer connections.</p>
						</mc-col>
						<mc-col s="12" ms="12" md="4">
							<i class="fa-solid fa-rectangle-ad"></i>
							<h2>Advertising & Marketing</h2>
							<p>Make new friends and fans through targeted outreach and inbound marketing. Sophisticated marketing strategies that deliver impact and growth. </p>
						</mc-col>
						<mc-col s="12" ms="12" md="4">
							<i class="fa-solid fa-browser"></i>
							<h2>Web Design & Development</h2>
							<p>Professional website design and development. No templates, themes, or shortcuts taken. Each website is designed based on your brand’s guidelines, and custom coded.</p>
						</mc-col>
					</mc-row>
				</mc-features>
			</mc-container>
		</section>
		<section class="feature text-bottom">
			<mc-container>
				<mc-feature>
					<mc-content>
						<h2>Let's launch<br> something special</h2>
						<p>We are a collective of industry professionals who know how to craft creative strategies, persuasive communications, and digital experiences in order to grow brands and businesses.</p>
						<p>Our leadership team is composed of three industry experts: Kelly Groglio, Marty Ellery, and William Cowen. We each offer different expertise and perspectives that when combined creates a holistic marketing strategy.  With well over a decade of industry experience and our mixed background of agency, in-house and consultancy experience you can trust we understand your marketing needs and goals. Together, with you, we can create something stellar.</p>
					</mc-content>
					<mc-content class = "special">
						<img class = "relative ball" src="illustation2-1-planet@2x.png" />
						<img class = "absolute moto" src="illustation2-2-moto@2x.png" />
						<img class = "absolute sparkles" src="illustation2-3-notifications@2x.png" />
					</mc-content>
				</mc-feature>
			</mc-container>
		</section>
		<section class="bg-alt features">
			<mc-container>
				<mc-features>
					<mc-row col-default="3">
						<mc-col s="12" ms="12" md="4">
							<div class = "profile"><div class = "flip"><img src="https://pbs.twimg.com/profile_images/605140374554701824/0FIZ6qF7_400x400.jpg" /><img src = "Moto headshots-02.png"></div></div>
							<h2>Marketing & Creative</h2>
							<p>Kelly is both a marketer and a creative. She has been working in the industry for over a decade and has led creative teams. As a marketer she believes in crafting holistic strategies and as a creative she provide leadership and direction to the production and execution process. </p>
						</mc-col>
						<mc-col s="12" ms="12" md="4">
							<div class = "profile"><div class = "flip"><img src="https://www.nelsonschmidt.com/wp-content/uploads/headshot_marty-1.jpg" /><img src ="Moto headshots-03.png"></div></div>
							<h2>Strategic Communications</h2>
							<p>Marty is a veteran strategic  communications professional. She has led public relation departments and has crafted brand messaging for numerous companies. Her mastery of words and communications enables her to help businesses tell their story to their target audiences.</p>
						</mc-col>
						<mc-col s="12" ms="12" md="4">
							<div class = "profile"><div class = "flip"><img src="https://windailysports.com/wp-content/uploads/2020/06/21273457_10213889004480326_8917962074572070566_o.jpg" /><img src ="Moto headshots-01.png"></div></div>
							<h2>Technology & Development</h2>
							<p>William lives and breaths all things digital. He has led development teams for game development companies, startups, and large established businesses. As a coder and developer himself he knows how to engineer scalable technical solutions, such as: websites, digital experiences, apps, etc.</p>
						</mc-col>
					</mc-row>
				</mc-features>
			</mc-container>
		</section>
		<section class="cta">
			<mc-container>
				<div class = "cta-cont">
					<h1 style="">How can we help you?</h1>
					{/*<!---<select name="services" id="service-select">
					<option value="">Please Select Service</option>
					<option value="web">Website 
						Design & Development</option>
						<option value="brand">Branding & Creative</option>
						<option value="ads">Advertising & Marketing</option>
					</select>--->*/}
				</div>
			</mc-container>
		</section>
		{/*<!---<section class = "selected alt">
			<mc-container>
				<div id = "web" class = "feature">
					<mc-feature>
						<mc-content>
							<h2>Website<br>
								Design & Development</h2>
								<p>We guarantee, every website 
									we craft includes the following:</p>
								</mc-content>
								<img src="https://modocosm.com/images/screens.png">
							</mc-feature>
							<mc-features>
								<mc-row col-default="3">
									<mc-col s="12" ms="6" lg="3">
										<img class="svg" src="https://assets.codepen.io/2582751/mobile-alt-solid.svg" />
										<h2>Responsive</h2>
										<p>Every website we create is responsive and works across all devices. We guarantee your site looks good and is easy to use no matter what device your visitors are viewing from.</p>
									</mc-col>
									<mc-col s="12" ms="6" lg="3">
										<img class="svg" src="https://assets.codepen.io/2582751/clipboard-check-solid.svg" />
										<h2>Fast Load Speed</h2>
										<p>We built our sites to be lean mean fast loading machines. By writing succinct code, optimizing images, reducing plug-in dependency we are able to engineer sites that load within seconds.</p>
									</mc-col>
									<mc-col s="12" ms="6" lg="3">
										<img class="svg" src="https://assets.codepen.io/2582751/columns-solid.svg" />
										<h2>Easy to Update CMS</h2>
										<p>We build each site with a Content Management System (CMS) so you can make changes to your site via a dashboard. Our CMS, is the industry leader, over 70% of websites are built on it.</p>
									</mc-col>
									<mc-col s="12" ms="6" lg="3">
										<img class="svg" src="https://assets.codepen.io/2582751/chart-bar-solid.svg" />
										<h2>Google Analytics</h2>
										<p>Google Analytics is integrated into each site we make. This allows you to collect data on website performance and visitor behavior. With this data you can make smarter data-driven decisions.</p>
									</mc-col>
									<a class ="started" href="https://airtable.com/shr7eFiGikGmuNdsu">Lets Get Started</a>
								</mc-row>
							</mc-features>
						</div>
					</mc-container>
				</section>--->*/}
		<section id="footer" class="footer">
			<mc-container>
				<div class = "footer-cont">
					<div class = "content">
						<h1>Modocosm</h1>
						<h4>a digital marketing shop</h4>
					</div>
					<p>All Rights Reserved 2022©</p>
				</div>
			</mc-container>
		</section>
	</body>
	<script type="text/javascript">
		$("mc-ac-btn").click(function () {
			$("mc-expand").removeClass("active");
			$("mc-ac-btn").removeClass("active");
		});

		var acc = document.getElementsByTagName("mc-ac-btn");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.display === "block") {
					panel.classList.toggle("active");
				} else {
					panel.classList.toggle("active");
				}
			});
		}

		$("mc-burger").click(function () {
			$("mc-nav").toggleClass("active");
			$("mc-burger i:nth-child(1)").toggle();
			$("mc-burger i:nth-child(2)").toggle();
		});

		/*
                * Replace all SVG images with inline SVG
                */
		document.querySelectorAll("img.svg").forEach(function (img) {
			var imgID = img.id;
			var imgClass = img.className;
			var imgURL = img.src;

			fetch(imgURL)
				.then(function (response) {
				return response.text();
			})
				.then(function (text) {
				var parser = new DOMParser();
				var xmlDoc = parser.parseFromString(text, "text/xml");

				// Get the SVG tag, ignore the rest
				var svg = xmlDoc.getElementsByTagName("svg")[0];

				// Add replaced image's ID to the new SVG
				if (typeof imgID !== "undefined") {
					svg.setAttribute("id", imgID);
				}
				// Add replaced image's classes to the new SVG
				if (typeof imgClass !== "undefined") {
					svg.setAttribute("class", imgClass + " replaced-svg");
				}

				// Remove any invalid XML tags as per http://validator.w3.org
				svg.removeAttribute("xmlns:a");

				// Check if the viewport is set, if the viewport is not set the SVG wont't scale.
				if (
					!svg.getAttribute("viewBox") &&
					svg.getAttribute("height") &&
					svg.getAttribute("width")
				) {
					svg.setAttribute(
						"viewBox",
						"0 0 " +
						svg.getAttribute("height") +
						" " +
						svg.getAttribute("width")
					);
				}

				// Replace image with new SVG
				img.parentNode.replaceChild(svg, img);
			});
		});
		$(function() {    // Makes sure the code contained doesn't run until
			//     all the DOM elements have loaded

			$('#service-select').change(function(){
				$('.selected .feature').hide();
				$('#' + $(this).val()).show();
			});

		});
	</script>
</html>