---
import Demo from "src/layouts/demo.astro";
import { Code } from 'astro:components';
import { createDirectus, authentication,rest, readItems } from '@directus/sdk';
const email = 'info@modocosm.io';
const password = '3G@&Lx3r#GKLen4q';
const client = createDirectus('https://modocosm.up.railway.app/').with(authentication()).with(rest());
await client.login(email, password);
const result = await client.request(
    readItems('Pages', {
        fields: ['*',{Slice_Master:['*', { item:['*',{Content_Block:['*'], CTA_Hero:['*'] }] }] }],
    })
);
const meta = await client.request(readItems('Modocosm_Core'));
export const content = {
    "title": "Modocosm Demo Env", 
    "fonts": [ "https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800;900&display=swap" ], 
    "description": "Modocosm Demo Env", 
    "keywords": "Modocosm, Astro, AstroJS, AtroJSX, AstroJSXComponents, AstroJSXComponentsLibrary, AstroJSXComponentsLibraryDemo, AstroJSXComponentsLibraryDemoEnv, AstroJSXComponentsLibraryDemoEnvModocosm, AstroJSXComponentsLibraryDemoEnvModocosmDemoEnv",     "author": "JugaadiTech", 
    "file": "C:/Users/William/Documents/GitHub/modo/Modocosmio/src/pages/index.mdx", 
    "url": "" 
};
---

<Demo content={content}>
    <h1>Sample</h1>
    <h1>Result</h1>
    {result[0].Slice_Master.map((item) => (
        <Code lang="json" code={JSON.stringify(item, null, 2)}/>    
    ))}
    <Code lang="json" code={JSON.stringify(result, null, 2)}/>
    

    <h1>Meta</h1>
    <Code lang="json" code={JSON.stringify(meta, null, 2)}/>
</Demo>

