---
const navigation = [
    {
        title: 'Home',
        url: '/'
    },
    {
        title: 'About',
        url: '/about'
    },
    {
        title: 'Contact',
        url: '/contact'
    }
]
---
<nav id="main" class="main">
    <div class="container">
        <div class="inner-container">
    <div class = "logo">
        <a href="/">
            <img src="https://th.bing.com/th/id/R.c0868515b442d1a3b1f66a2b88a785dc?rik=vtx5SDlnD7fxTQ&riu=http%3a%2f%2fmedia.giphy.com%2fmedia%2fPosxo8i6NKrC0%2fgiphy.gif&ehk=kiVt7H%2bOfc1Z8QO8lcD%2bi4M4dut2L4UYf1WGBhVFrAQ%3d&risl=&pid=ImgRaw&r=0" alt="logo" width="100px" height="64px">
        </a>
    </div>
    <ul>
        {navigation.map((item) => (
            <li><a href={item.url}>{item.title}</a></li>
        ))}
    </ul>
</div>
</div>
</nav>

<style>
    nav li,nav ul, nav .logo a {
        list-style:none;
        margin:unset;
        padding:unset;
    }
    nav ul, nav .inner-container, nav .logo {
        display:flex;
        flex-direction:row;
    }
    nav ul {
        flex-grow:1;
    }
    nav {
        position:absolute;
        width:100%;
        background:linear-gradient(45deg, #40008020,#60009020,#20004020,#30006020);
        /* glassmorphism */
        backdrop-filter:blur(5px);
        -webkit-backdrop-filter:blur(5px);
        box-shadow:0px 0px 10px 2px rgba(0,0,0);
    }
    nav li {
        display:inline-block;
        margin:auto;
    }
    nav ul li a {
        color:white;
        text-decoration:none;
        padding:1rem;
        display:block;
        text-transform: uppercase;
        font-weight:bold;
    }
    nav .logo a {
        margin:12px 0px;
        margin-right:240px;
        display:flex;
    }
</style>