/*Core Grids*/
.mc-grid, mc-grid {
    display:grid;
    grid-gap: var(--grid-gap);
}
/* Mobile First */
.mc-grid, mc-grid[s="1"] {
    grid-template-columns: repeat(1, 1fr);
}
.mc-grid, mc-grid[s="2"] {
    grid-template-columns: repeat(2, 1fr);
}
.mc-grid, mc-grid[s="3"] {
    grid-template-columns: repeat(3, 1fr);
}
.mc-grid, mc-grid[s="4"] {
    grid-template-columns: repeat(4, 1fr);
}
.mc-grid, mc-grid[s="5"] {
    grid-template-columns: repeat(5, 1fr);
}
.mc-grid, mc-grid[s="6"] {
    grid-template-columns: repeat(6, 1fr);
}
/* Tablet Break Point 576 */
@media (min-width: 576px) {
    .mc-grid, mc-grid[ms="1"] {
        grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid, mc-grid[ms="2"] {
        grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid, mc-grid[ms="3"] {
        grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid, mc-grid[ms="4"] {
        grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid, mc-grid[ms="5"] {
        grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid, mc-grid[ms="6"] {
        grid-template-columns: repeat(6, 1fr);
    }
}
/* Netbook and Laptop Breakpoint 767 */
@media (min-width: 767px) {
    .mc-grid, mc-grid[m="1"] {
        grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid, mc-grid[m="2"] {
        grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid, mc-grid[m="3"] {
        grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid, mc-grid[m="4"] {
        grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid, mc-grid[m="5"] {
        grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid, mc-grid[m="6"] {
        grid-template-columns: repeat(6, 1fr);
    }
}
/* Laptop Breakpoint 1200 */
@media (min-width: 1200px) {
    .mc-grid, mc-grid[ml="1"] {
        grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid, mc-grid[ml="2"] {
        grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid, mc-grid[ml="3"] {
        grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid, mc-grid[ml="4"] {
        grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid, mc-grid[ml="5"] {
        grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid, mc-grid[ml="6"] {
        grid-template-columns: repeat(6, 1fr);
    }
}
/* Macbook Breakpoint 1400 */
@media (min-width: 1400px) {
    .mc-grid, mc-grid[l="1"] {
        grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid, mc-grid[l="2"] {
        grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid, mc-grid[l="3"] {
        grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid, mc-grid[l="4"] {
        grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid, mc-grid[l="5"] {
        grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid, mc-grid[l="6"] {
        grid-template-columns: repeat(6, 1fr);
    }
}
/* Hi-Def Breakpoint 1920 */
@media (min-width: 1920px) {
    .mc-grid, mc-grid[xl="1"] {
        grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid, mc-grid[xl="2"] {
        grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid, mc-grid[xl="3"] {
        grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid, mc-grid[xl="4"] {
        grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid, mc-grid[xl="5"] {
        grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid, mc-grid[xl="6"] {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Mobile First */
mc-obj, .mc-obj[s="1"] {
    grid-column: span 1;
}
mc-obj, .mc-obj[s="2"] {
    grid-column: span 2;
}
mc-obj, .mc-obj[s="3"] {
    grid-column: span 3;
}
mc-obj, .mc-obj[s="4"] {
    grid-column: span 4;
}
mc-obj, .mc-obj[s="5"] {
    grid-column: span 5;
}
mc-obj, .mc-obj[s="6"] {
    grid-column: span 6;
}
/* Tablet Break Point 576 */
@media (min-width: 576px) {
    mc-obj, .mc-obj[ms="1"] {
        grid-column: span 1;
    }
    mc-obj, .mc-obj[ms="2"] {
        grid-column: span 2;
    }
    mc-obj, .mc-obj[ms="3"] {
        grid-column: span 3;
    }
    mc-obj, .mc-obj[ms="4"] {
        grid-column: span 4;
    }
    mc-obj, .mc-obj[ms="5"] {
        grid-column: span 5;
    } 
    mc-obj, .mc-obj[ms="6"] {
        grid-column: span 6;
    }
}
/* Netbook and Laptop Breakpoint 767 */
@media (min-width: 767px) {
    mc-obj, .mc-obj[m="1"] {
        grid-column: span 1;
    }
    mc-obj, .mc-obj[m="2"] {
        grid-column: span 2;
    }
    mc-obj, .mc-obj[m="3"] {
        grid-column: span 3;
    }
    mc-obj, .mc-obj[m="4"] {
        grid-column: span 4;
    }
    mc-obj, .mc-obj[m="5"] {
        grid-column: span 5;
    } 
    mc-obj, .mc-obj[m="6"] {
        grid-column: span 6;
    }
}
/* Laptop Breakpoint 1200 */
@media (min-width: 1200px) {
    mc-obj, .mc-obj[ml="1"] {
        grid-column: span 1;
    }
    mc-obj, .mc-obj[ml="2"] {
        grid-column: span 2;
    }
    mc-obj, .mc-obj[ml="3"] {
        grid-column: span 3;
    }
    mc-obj, .mc-obj[ml="4"] {
        grid-column: span 4;
    }
    mc-obj, .mc-obj[ml="5"] {
        grid-column: span 5;
    } 
    mc-obj, .mc-obj[ml="6"] {
        grid-column: span 6;
    }
}
/* Macbook Breakpoint 1400 */
@media (min-width: 1400px) {
    mc-obj, .mc-obj[l="1"] {
        grid-column: span 1;
    }
    mc-obj, .mc-obj[l="2"] {
        grid-column: span 2;
    }
    mc-obj, .mc-obj[l="3"] {
        grid-column: span 3;
    }
    mc-obj, .mc-obj[l="4"] {
        grid-column: span 4;
    }
    mc-obj, .mc-obj[l="5"] {
        grid-column: span 5;
    } 
    mc-obj, .mc-obj[l="6"] {
        grid-column: span 6;
    }
}
/* Hi-Def Breakpoint 1920 */
@media (min-width: 1920px) {
    mc-obj, .mc-obj[xl="1"] {
        grid-column: span 1;
    }
    mc-obj, .mc-obj[xl="2"] {
        grid-column: span 2;
    }
    mc-obj, .mc-obj[xl="3"] {
        grid-column: span 3;
    }
    mc-obj, .mc-obj[xl="4"] {
        grid-column: span 4;
    }
    mc-obj, .mc-obj[xl="5"] {
        grid-column: span 5;
    } 
    mc-obj, .mc-obj[xl="6"] {
        grid-column: span 6;
    }
}
/* Mobile First */
mc-obj, .mc-obj[h-s="1"] {
    grid-row: span 1;
}
mc-obj, .mc-obj[h-s="2"] {
    grid-row: span 2;
}
mc-obj, .mc-obj[h-s="3"] {
    grid-row: span 3;
}
mc-obj, .mc-obj[h-s="4"] {
    grid-row: span 4;
}
mc-obj, .mc-obj[h-s="5"] {
    grid-row: span 5;
}
mc-obj, .mc-obj[h-s="6"] {
    grid-row: span 6;
}
/* Tablet Break Point 576 */
@media (min-width: 576px) {
    mc-obj, .mc-obj[h-ms="1"] {
        grid-row: span 1;
    }
    mc-obj, .mc-obj[h-ms="2"] {
        grid-row: span 2;
    }
    mc-obj, .mc-obj[h-ms="3"] {
        grid-row: span 3;
    }
    mc-obj, .mc-obj[h-ms="4"] {
        grid-row: span 4;
    }
    mc-obj, .mc-obj[h-ms="5"] {
        grid-row: span 5;
    } 
    mc-obj, .mc-obj[h-ms="6"] {
        grid-row: span 6;
    }
}
/* Netbook and Laptop Breakpoint 767 */
@media (min-width: 767px) {
    mc-obj, .mc-obj[h-m="1"] {
        grid-row: span 1;
    }
    mc-obj, .mc-obj[h-m="2"] {
        grid-row: span 2;
    }
    mc-obj, .mc-obj[h-m="3"] {
        grid-row: span 3;
    }
    mc-obj, .mc-obj[h-m="4"] {
        grid-row: span 4;
    }
    mc-obj, .mc-obj[h-m="5"] {
        grid-row: span 5;
    } 
    mc-obj, .mc-obj[h-m="6"] {
        grid-row: span 6;
    }
}
/* Laptop Breakpoint 1200 */
@media (min-width: 1200px) {
    mc-obj, .mc-obj[h-ml="1"] {
        grid-row: span 1;
    }
    mc-obj, .mc-obj[h-ml="2"] {
        grid-row: span 2;
    }
    mc-obj, .mc-obj[h-ml="3"] {
        grid-row: span 3;
    }
    mc-obj, .mc-obj[h-ml="4"] {
        grid-row: span 4;
    }
    mc-obj, .mc-obj[h-ml="5"] {
        grid-row: span 5;
    } 
    mc-obj, .mc-obj[h-ml="6"] {
        grid-row: span 6;
    }
}
/* Macbook Breakpoint 1400 */
@media (min-width: 1400px) {
    mc-obj, .mc-obj[h-l="1"] {
        grid-row: span 1;
    }
    mc-obj, .mc-obj[h-l="2"] {
        grid-row: span 2;
    }
    mc-obj, .mc-obj[h-l="3"] {
        grid-row: span 3;
    }
    mc-obj, .mc-obj[h-l="4"] {
        grid-row: span 4;
    }
    mc-obj, .mc-obj[h-l="5"] {
        grid-row: span 5;
    } 
    mc-obj, .mc-obj[h-l="6"] {
        grid-row: span 6;
    }
}
/* Hi-Def Breakpoint 1920 */
@media (min-width: 1920px) {
    mc-obj, .mc-obj[h-xl="1"] {
        grid-row: span 1;
    }
    mc-obj, .mc-obj[h-xl="2"] {
        grid-row: span 2;
    }
    mc-obj, .mc-obj[h-xl="3"] {
        grid-row: span 3;
    }
    mc-obj, .mc-obj[h-xl="4"] {
        grid-row: span 4;
    }
    mc-obj, .mc-obj[h-xl="5"] {
        grid-row: span 5;
    } 
    mc-obj, .mc-obj[h-xl="6"] {
        grid-row: span 6;
    }
}