---
import Head from 'src/components/common/Head.astro'
import Nav from 'src/components/common/Nav.astro'
import Foot from 'src/components/common/Foot.astro'
const data = Astro.props.content
---

<!DOCTYPE html>
<html lang="en">
  <Head data={data}/>
  <body class="">
    <Nav />
    <main>
      <slot />
    </main>
    <Foot />
  </body>
</html>

<style>

</style>