---
import Head from '../components/common/Head.astro'
import Nav from '../components/common/Nav.astro'
import Foot from '../components/common/Foot.astro'
---

<!DOCTYPE html>
<html lang="en">
  <Head/>
  <body class="">
    <Nav />
    <main>
      <slot />
    </main>
    <Foot />
  </body>
</html>

<style>
    
</style>